.container > h2 {
  margin-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > img {
  width: 8rem;
  height: 4rem;
}

.header > .address {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 0.9rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.form > h2 {
  font-weight: 500;
}

.form > .date {
  display: flex;
  flex-direction: column;
}

.section-one > .content > .date-group,
.kin,
.section-four > .content > .signature {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9rem;
}

textarea:focus,
input:focus {
  outline: none;
}

input {
  border: none;
  border-bottom: 0.5px solid black;
  font-size: 0.9rem;
}

.section-one > .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.member-inputs {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.member-inputs > .name {
  display: flex;
  flex-direction: column;
}

.member-inputs > .dob {
  display: flex;
  flex-direction: column;
}

.caregiver-inputs {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.caregiver-inputs > .name {
  display: flex;
  flex-direction: column;
}

.caregiver-inputs > .phone {
  display: flex;
  flex-direction: column;
}

.member-full-address {
  display: flex;
  flex-direction: column;
}

.form-section {
  display: flex;
  align-items: start;
  gap: 10px;
}

.form-section > label {
  font-weight: 700;
}

.section-two > .content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checkbox {
  display: flex;
  align-items: start;
  padding: 0.5rem;
  gap: 5px;
  margin-top: 5px;
}

.notes {
  display: flex;
  flex-direction: column;
}

.note-inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.radios {
  display: flex;
  gap: 12px;
  padding-top: 12px;
}

.safety-skills,
.evacuation,
.relocation-plan {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.section-three > .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.section-four > .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.kin-group {
  display: flex;
  flex-direction: column !important;
  gap: 1.2rem;
}

/* Tablets */
@media only screen and (min-width: 768px) {
  body {
    display: block !important;
  }

  .container {
    width: 100vw !important;
  }

  .member-inputs {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: 1.2rem;
  }

  .member-inputs > .name,
  .member-inputs > .dob {
    width: 48%;
  }

  .caregiver-inputs {
    display: flex;
    flex-direction: row !important;
    gap: 1.2rem;
  }

  .caregiver-inputs > .name,
  .caregiver-inputs > .phone {
    width: 48%;
  }

  .content {
    flex: 1;
  }

  .evacuation,
  .relocation-plan {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: 1.2rem;
  }

  .evacuation > .evacuation-capability,
  .evacuation > .assistance-level {
    width: 48%;
  }

  .relocation-plan > .disaster,
  .relocation-plan > .relocation-notes {
    width: 48%;
  }

  .kin-group {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: 1.2rem;
  }

  .kin,
  .signature {
    width: 48% !important;
  }

  .kin-address {
    width: 100% !important;
  }

  .section-four > .content {
    display: flex;
    flex-direction: row !important;
  }
}

/* Desktops */
@media only screen and (min-width: 992px) {
  body {
    display: flex !important;
    justify-content: center !important;
  }

  .container {
    width: 70vw !important;
  }
}
